{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="main">
        <!-- <h1><b>CosmicQuakes</b></h1> -->
        <div class="form">
            <input type="file" id="file">
            <button type="submit" id="submit">Submit</button>
        </div>
        <div class="visualizer" id="1">
        </div>
    </div>

    <script>
        document.querySelector("#submit").addEventListener('click', (e) => {
            let file = document.querySelector("#file").files[0];

            let formData = new FormData();
            formData.append("file", file);

            fetch('/api/v1/processFile/', {
                method: "POST",
                contentType: "image/png",
                body: formData,
            })
            .then(async(response) => {
                if (response.status === 401) {
                    window.location.href = '/';
                }
                console.log(response.type);

                const responseBlob = await response.blob()
                const img = document.createElement('img')
                img.src = URL.createObjectURL(responseBlob)
                document.getElementById('1').appendChild(img);
            })
        });
    </script>
{% endblock %}
